/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}



section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#excel-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.chart {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
}

.bar {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px 0;
}

.bar .label {
    width: 100px;
    text-align: right;
    padding: 10px;
}

.bar .bar-fill {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.bar:nth-child(odd) .bar-fill {
    background-color: #007acc; /* Color para barras impares */
}

.bar:nth-child(even) .bar-fill {
    background-color: #ff5733; /* Color para barras pares */
}
.centrar {
    width: 300px; /* Ancho deseado */
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-5%);
}
.boton-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-volver:hover {
    background-color: #0056b3;
}
