<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación Web</title>
    <link rel="stylesheet" type="text/css" href="/css/styles3.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Aplicación Web</h1>
    </header>
    <section>
<div class="signup-container">
    <h2>Crear Cuenta</h2>
    <form action="#" method="post">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>

      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
      </div>
      <ul>
        <a href="/templates/principal.html" class="boton">CREAR</a>
      </ul>
    </form>
  </div>

    </section>
<footer>
        <p>Derechos de autor © 2023 - Mi Aplicación Web</p>
    </footer>
<script src="../script.js"></script>
</body>
</html>
