<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación Web</title>
    <link rel="stylesheet" type="text/css" href="/css/styles4.css">
</head>
<body>
    <header>
        <h1>ESTADISTICA</h1>
    </header>
    <section>
        <h2>¿CUAL ES TU GENERO?</h2>
        <nav>
            <ul>
                <div class="circle-container">
                    <div class="circle"><a href="/templates/mostrar-YEMAYA.html">DATOS</a></div>
                    <div class="circle"><a href="/templates/tabla_frecu.html">TABLA DE <br>FRECUANCIA</a></div>
                    <div class="circle"><a href="/templates/moda.html">MODA</a></div>
                    <div class="circle"><a href="/templates/media.html">MEDIA</a></div>
                    <div class="circle"><a href="/templates/mediana.html">MEDIANA</a></div>
                    <div class="circle"><a href="/templates/mediana.html">DIAGRAMA DE VNN</a></div>
                </div>
            </ul>
        </nav>
    </section>
    <footer>
        <p>Derechos de autor © 2023 - Mi Aplicación Web</p>
    </footer>
</body>
</html>