<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación Web</title>
    <link rel="stylesheet" type="text/css" href="/css/styles4.css">
</head>
<body>
    <header>
        <h1>ESTADISTICA</h1>
    </header>
    <section>
        <h2>¿CUAL ES TU GENERO?</h2>
        <nav>
            <ul>
                <div class="circle-container">
                    <div class="circle"><a href="/templates/mostrar-YEMAYA.html">DATOS</a></div>
                    <div class="circle"><a href="/templates/tabla_frecu.html">TABLA DE <br>FRECUENCIA</a></div>
                    <div class="circle"><a href="/templates/moda.html">MODA</a></div>
                    <div class="circle"><a href="/templates/media.html">MEDIA</a></div>
                    <div class="circle"><a href="/templates/mediana.html">MEDIANA</a></div>
                    <div class="circle"><a href="/templates/venn.html">DIAGRAMA DE VENN</a></div>
                </div>
            </ul>
        </nav>
        <div><a href="/templates/index.html" class="boton-volver">Regresar</a></div>
    </section>
    <footer>
        <p>Mi Aplicación Web - © 2023 </p>
    </footer>
</body>
</html>