<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación Web</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Aplicación Web</h1>
    </header>
    <section>
        <h2 class="titulo1">ACERCA DE</h2>
        <p>Un diagrama de Venn es una representación gráfica que ilustra las relaciones entre conjuntos. Está compuesto
             por círculos superpuestos que representan conjuntos individuales o grupos de elementos. La superposición de los círculos muestra 
             las áreas en las que los conjuntos comparten elementos comunes. Estos diagramas son especialmente útiles para
             visualizar la intersección y la relación entre diferentes conjuntos.</p><br><br>

        <!-- Agregando dos imágenes -->
        <img src="/img/Imagen1.jpeg" alt="Descripción de la primera imagen">
        <img src="/img/Imagen2.jpeg" alt="Descripción de la segunda imagen">
        <img src="/img/Imagen3.jpeg" alt="Descripción de la segunda imagen">
        <br><br>
        <div><a href="/templates/principal.html" class="boton-volver">Regresar a la página principal</a></div>
    </section>
    <footer>
        <p>Mi Aplicación Web - © 2023</p>
    </footer>
</body>
</html>
